{
  "presets": ["@babel/env", "@babel/react", "@babel/flow"],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/transform-runtime",
    [
      "@babel/transform-spread",
      {
        "loose": true
      }
    ],
    "@babel/proposal-optional-chaining",
    "@loadable/babel-plugin",
    [
      "css-modules-transform",
      {
        "extensions": [".css", ".scss", ".sass", ".less"],
        "generateScopedName": "[local]",
        "prepend": ["./src/tools/postcss.config.js"]
      }
    ],
    [
      "transform-assets",
      {
        "extensions": [
          "gif",
          "jpg",
          "jpeg",
          "png",
          "webp",
          "woff",
          "woff2",
          "ttf",
          "eot",
          "svg"
        ],
        "name": "[name].[hash:8].[ext]"
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": { "attrs": "(data-name|white-space)" }
            }
          ]
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "pages": "./src/client/pages",
          "components": "./src/client/components",
          "assets": "./src/client/assets",
          "utils": "./src/utils",
          "types": "./src/types",
          "models": "./src/models",
          "store": "./src/store"
        }
      }
    ]
  ]
}
