@import 'themes/variables';

.app__loading {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    div {
      border: 6px solid $celestial__blue;
    }
  }
}
